<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/8e4ddfe314.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <form class="formulario">
        <h1>Login</h1>
        <div class="contenedor">
       
            <div class="input-contenedor">
                <i class="fas fa-envelope-open-text"></i>
                <input type="text" placeholder="Correo electronico">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="contraseña">
            </div>

            <input type="submit" value="Registrate" class="bottom">
            <p>Al aceptar, aceptas nuestras Condiciones de uso y Politica de privacidad</p>
            <p>¿No tienes una cuenta?<a class="link" href=/users/register>Registrate</a></p>
        </div>
    </form>
</body>

</html>