<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header id="header">
        <img src="/images/home/imagenes-home/logo-img.webp" alt="logo" id="logo">
        <div id="user-div">
        <img src="/images/home/imagenes-home/search-img.png" alt="search" id="search">
        <a href="/users/register"><img src="/images/home/imagenes-home/user-img.png" alt="user" id="user"></a>
        <a href="./views/carrito.html"><img src="/images/home/imagenes-home/shop-img.png" alt="shop" id="shop"></a>
        </div>
    </header>
    <nav id="nav">
        <a href="" id="novedades">NOVEDADES</a>
        <div class="dropdown" id="arma-tu-pc">
            <button class="dropbtn">ARMÁ TU PC</button>
            <div class="dropdown-content">
                <a href="#">INTEL</a>
                <a href="#">AMD</a>
            </div>
        </div>
        <a href="productos" id="productos">PRODUCTOS</a>
        <a href="" id="contactanos">CONTACTANOS</a>
        <a href="" id="ayuda">AYUDA</a>
    </nav>
    <section id="foto-principal">
        <img src="/images/home/imagenes-home/rtx-img.jpg" alt="rtx" id="fotoRtx">
    </section>
    <section id="section-img">
        <div id="mother-div">
            <img src="/images/home/home-productos/mother-img.jpg" alt="" id="mother-principal">
            <div id="texto-mother">MOTHERBOARDS</div>
        </div>
        <div id="perifericos-div">
            <img src="/images/home/home-productos/perifericos-img.jpg" alt="" id="perifericos-principal">
            <div id="texto-perifericos">PERIFÉRICOS</div>
        </div>
        <div id="juegos-div">
            <img src="/images/home/home-productos/juegos-img.jpg" alt="" id="juegos-principal">
            <div id="texto-juegos">JUEGOS</div>
        </div>
    </section>
    <footer id="footer">
        <div>Seguinos en nuestras redes sociales</div>
        <a href="https://www.facebook.com/"><img src="/images/home/home-paginas/facebook-img.jpg" alt="" id="img-facebook"></a>
    </footer>
</body>
</html>