<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productos.css">
    <title>Productos</title>
</head>
<body>
    <header id="header">
        <img src="/images/home/imagenes-home/logo-img.webp" alt="logo" id="logo">
        <div id="user-div">
            <img src="/images/home/imagenes-home/search-img.png" alt="search" id="search">
            <a href="./views/user.html"><img src="/images/home/imagenes-home/user-img.png" alt="user" id="user"></a>
            <a href="./views/carrito.html"><img src="/images/home/imagenes-home/shop-img.png" alt="shop" id="shop"></a>
        </div>
    </header>
    <nav id="nav">
        <a href="" id="novedades">NOVEDADES</a>
        <div class="dropdown" id="arma-tu-pc">
            <button class="dropbtn">ARMÁ TU PC</button>
            <div class="dropdown-content">
                <a href="#">INTEL</a>
                <a href="#">AMD</a>
            </div>
        </div>
        <a href="./views/product.html" id="producto">PRODUCTOS</a>
        <a href="" id="contactanos">CONTACTANOS</a>
        <a href="" id="ayuda">AYUDA</a>
    </nav>

    <div class="list-controls">
    
    </div>

    <section id="section-productos">
        <article id="productos">

            <div class="separator">
                <div class="product">
                    <img src="/images/productos/teclado-gamer.jpg" height="196px" width="264px">
                </div>
                <div class="container-product-title">
                    <h1 class="product-title">Lorem</h1>
                    <p class="product-text">Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                    <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                </div>
            </div>

            <div class="separator">
                <div class="product">
                    <img src="/images/productos/teclado-gamer.jpg" height="196px" width="264px">
                </div>
                <div class="container-product-title">
                    <h1 class="product-title">Lorem</h1>
                    <p class="product-text">Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                    <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                </div>
            </div>

            <div class="separator">
                <div class="product">
                    <img src="images/productos/teclado-gamer.jpg" height="196px" width="264px">
                </div>
                <div class="container-product-title">
                    <h1 class="product-title">Lorem</h1>
                    <p class="product-text">Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                    <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                </div>
            </div>

            <div class="separator">
                <div class="product">
                    <img src="images/productos/teclado-gamer.jpg" height="196px" width="264px">
                </div>
                <div class="container-product-title">
                    <h1 class="product-title">Lorem</h1>
                    <p class="product-text">Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                    <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                </div>
            </div>

            <div class="separator">
                <div class="product">
                    <img src="/images/productos/teclado-gamer.jpg" height="196px" width="264px">
                </div>
                <div class="container-product-title">
                    <h1 class="product-title">Lorem</h1>
                    <p class="product-text">Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="button" value="COMPRAR AHORA" id="comprar-ahora">
                    <input type="button" value="AGREGAR AL CARRITO" id="agregar-carrito">
                </div>
            </div>

            

        </article>
    </section>

    <aside id="aside-container">
        <h1 id="titulo-aside">Categorias</h1>
        <p><a href="" class="texto-aside">Equipos y Notebooks</a></p>
        <p><a href="" class="texto-aside">Consolas</a></p>
        <p><a href="" class="texto-aside">Motherboards</a></p>
        <p><a href="" class="texto-aside">Procesadores</a></p>
        <p><a href="" class="texto-aside">Placas De Video</a></p>
        <p><a href="" class="texto-aside">Almacenamiento</a></p>
        <p><a href="" class="texto-aside">Memorias RAM</a></p>
        <p><a href="" class="texto-aside">Gabinetes y Coolers</a></p>
        <p><a href="" class="texto-aside">Monitores y Televisores</a></p>
        <p><a href="" class="texto-aside">Perifericos</a></p>
        <p><a href="" class="texto-aside">Conectividad</a></p>
        <p><a href="" class="texto-aside">Software</a></p>
        <p><a href="" class="texto-aside">Celurares</a></p>
        <p><a href="" class="texto-aside">Cables y Cargadores</a></p>
    </aside>



    <footer id="footer">
        <div>Seguinos en nuestras redes sociales</div>
        <a href="https://www.facebook.com/"><img src="/images/home/home-paginas/facebook-img.jpg" alt="" id="img-facebook"></a>
    </footer>
</body>
</html>